.Sidebar {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100; /* TODO have a list of these */

  display: flex;
  flex-direction: row;
}

.Sidebar-content {
  width: 400px;
  overflow: scroll;
  background-color: WhiteSmoke;
}

.Sidebar-homeLink {
  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: DarkSlateGray 1px solid;
  padding: 10px;
  margin-bottom: 8px;
  font-family: "Andale Mono",AndaleMono,monospace;
  font-size: 20px;
  color: DarkSlateGray;
  text-decoration: none;
}

.Sidebar-homeLink:hover {
  background-color: LightGray;
}

.Sidebar-group {
  padding: 10px 0;
}

.Sidebar-groupHeader {
  margin: 5px 12px;
}

.Sidebar-list {
  margin: 0;
  padding: 0;
}

.Sidebar-link {
  display: block;
  padding: 3px 12px;

  color: DimGrey;
  text-decoration: none;
  line-height: 18px;
  font-family: "Andale Mono",AndaleMono,monospace;
  font-size: 14px;
}

.Sidebar-link:hover {
  background-color: LightGray;
}

.Sidebar-link.isActive {
  color: DarkSlateGray;
  font-weight: bolder;
}

.Sidebar-toggle {
  margin: 0;
  padding: 2px;
  font-size: 16px;
}
