.Table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  animation: fadein 1s;
}

.Table-group {
  margin: 20px;
  max-width: 1000px;
}

.Table-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Table-link {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.Table-link:hover {
  background-color: LightGray;
}

.Table-image {
  height: 100px;
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
